.container{
    width: 100%;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    padding-left: 1.25rem /* 20px */;
    padding-right: 1.25rem /* 20px */;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

}

#btn{
    border: 1px solid black;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0.75rem /* 12px */;
    padding-right: 0.75rem /* 12px */;
    padding-top: 0.25rem /* 4px */;
    padding-bottom: 0.25rem /* 4px */;
    
}

#img{
    width: 100px ;

}

@media (min-width: 640px) {
    #img {
        width: auto;
    }
    #btn{
        padding-top: 0.75rem /* 12px */;
        padding-bottom: 0.75rem /* 12px */;
        padding-left: 1.5rem /* 24px */;
        padding-right: 1.5rem /* 24px */;
    
    }
}

@media (min-width: 768px) {
    .container {
        padding-left: 3rem /* 48px */;
        padding-right: 3rem /* 48px */;
    }
}